.html
{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body
{
    margin: 0px;
    padding: 0px;
}

ul
{
    list-style: none;
}

ul.slides
{
    position: relative;
    width: 1024px;
    height: 680px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li
{
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    height: 20px;
    line-height: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

li.slide
{
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
}

a
{
    text-decoration: none;
}

a.lastword
{
    color: #fff;
}

.nav
{
    display: block;
    font-size: 20px;
    text-decoration:none;
    transition: all .3s ease-in-out;
}

.nav:hover
{
    position: relative;
    bottom: 34px;
}

span
{
    display: block;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
}

/* ------------------------ */

input[type="radio"]
{
    position: relative;
    z-index: 100;
    display: none;
}

.controls-visible
{
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
}

.controls-visible label
{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    border: #fff solid 2px;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ 
.controls-visible label:nth-of-type(1)
{
    background-color: #44693E;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ 
.controls-visible label:nth-of-type(2)
{
    background-color: #44693E;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ 
.controls-visible label:nth-of-type(3)
{
    background-color: #44693E;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide
{
    transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide
{
    transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide
{
    transform: translateX(-200%);
}


/* ------------------------ */

.bg
{
    width: 100%;
    background-color: #F4E9E3;
    margin-top: 0;
    margin-bottom: 0;
}

.title
{
    height: 97px;
    display: flex;
}

.hamlist
{
    width: 40px;
    height: 40px;
    margin-left: 60px;
    margin-top: 31px;
}

.logo_wrapper
{
    margin: 0 auto;
    margin-top: 44px;
}

.titlelogo
{
    width: 173px;
    height: 53px;
}

.search
{
    width: 40px;
    height: 40px;
    margin-right: 60px;
    margin-top: 31px;
}

.navlist
{
    font-size: 20px;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
}

.nav
{
    margin-left: 35px;
    margin-right: 35px;
}

.body1-1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 101px;
}

.arrow1
{
    margin-right: 40px;
}

.slide:nth-of-type(1)
{
    background:  center no-repeat
    url(./img/title.png);
}

.slide:nth-of-type(2)
{
    background:  center no-repeat
    url(./img/title.png);
    left: 100%;
}

.slide:nth-of-type(3)
{
    background:  center no-repeat
    url(./img/title.png);
    left: 200%;
}

.titleimg
{
    width: 1024px;
    height: 680px;
}

.arrow2
{
    margin-left: 40px;
}

.body1-2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic1
{
    width: 1200px;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 63px;
}

.pic2
{
    width: 1200px;
    height: 170px;
    margin: 0 auto;
    padding-bottom: 84px;
}

.body2
{
    background-color: #9F4900;
    height: 1562px;
}

.title2
{
    font-size: 48px;
    color: #fff;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 85px;
    margin-top: 0;
    margin-bottom: 0;
}

.intro_wrapper1
{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.intro_wrapper2
{
    display: flex;
    justify-content: center;
}

.introduce
{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
}

.cloth
{
    width: 525px;
    height: 438px;
}

.introword
{
    font-size: 32px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-top: 47px;
}

.body3
{
    background-color: #6C3200;
    height: 754px;
    justify-content: center;
}

.title3
{
    font-size: 48px;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 66px;
    padding-bottom: 73px;
    margin-top: 0;
    margin-bottom: 0;
}

.store
{
    display: flex;
    justify-content: center;
}

.storeimg
{
    margin-left: 9px;
    margin-right: 9px;
}

.storeimg:hover
{
    scale: 105%;
    transition: .10s;
}

.readmore
{
    width: 224px;
    height: 61px;
    font-size: 32px;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    border: #fff solid 1px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 60px;
    margin-top: 100px;
}

.readmore:hover
{
    color: #6C3200;
    border: #fff solid 1px;
    background-color: #fff;
    transition: .5s;
}

.foot
{
    height: 277px;
    background-color: #44693E;
    text-align: center;
    color: #fff;

}

.foot_word
{
    display: flex;
    justify-content: space-between;
}

.linklist
{
    display: flex;
    padding-left: 128px;
    text-align: start;
    padding-top: 42px;
}

.noticelist
{
    margin-left: 45px;
}

.viplist
{
    margin-left: 45px;
}

.rulelist
{
    margin-left: 45px;
}

.lasttitle
{
    font-weight: 700;
}

.follow
{
    padding-top: 42px;
    padding-right: 140px;
    justify-content: flex-end;
    display: block;

}

.followword
{
    font-size: 28px;
    letter-spacing: 2px;
}

.iconlist
{
    justify-content: center;

}

.linkicon
{
    margin-left: 15px;
    margin-right: 15px;
}

.linkicon:hover
{
    scale: 120%;
    transition: .10s;
}

.copyright
{
    margin: 0;
    padding-top: 32px;
    padding-bottom: 16px;
}